{
  "extends": ["airbnb", "airbnb/hooks", "react-hooks", "prettier"],
  "plugins": ["prettier"],
  "rules": {
        "linebreak-style": ["error", "windows"],
        "react-hooks/exhaustive-deps": "warn"
 }
}